:root {
    --color-middle-dark: RGB(48, 58, 76);
    --color-light-dark: RGB(61, 71, 90); 
    --color-dark: #252b37;
    --color-top-dark: #11141a;
    --color-yellow: RGB(240, 163, 16);
    --color-orange: RGB(260, 163, 16);
    --color-dark-orange: RGB(204, 128, 6);
    --color-grey: RGB(117, 130, 155);
}

body.DarkMatter {
    margin: 0;
    background-color: var(--color-light-dark);
    min-width: 500px;
}

div.NoScript {
    width: 100%;
    height: 100%;
    background-color: var(--color-top-dark);
    color: white;
    position: fixed;
    font-size: 72px;
    text-align: center;
    padding: 10% 0 0 0;
}

div.DarkMatterContent {
    width: 100%;
}

div.DarkMatterContainer {
    width: 100%;
}

div.DarkMatterDownline {
    width: 100%;
    background-color: var(--color-dark);
    text-align: center;
    color: white;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

/*Шапка сайта*/

h6.DarkMatterUpline {
    visibility: hidden;
    margin: 0;
}

div.DarkMatterUpline {
    background-color: var(--color-dark);
    width: 100%;
    height: 60px;
}

button.DarkMatterUpline {
    color: white;
    font-size: 34px;
    background-color: var(--color-dark);
    width: 60px;
    height: 60px;
    border: none;
    transition: 0.4s;
    position: absolute;
    top: 0;
    left: 0;
}

button:hover.DarkMatterUpline {
    background-color: var(--color-top-dark);
    cursor: pointer;
}

button:focus.DarkMatterUpline {
    outline: none;
}

/*Панель поиска*/

div.DarkMatterUplineSearch {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    vertical-align: middle;
}

input.DarkMatterUplineSearch {
    display: inline-block;
    border: none;
    background-color: var(--color-top-dark);
    margin: 14.5px 20px 0 0;
    font-size: 20px;
    border-radius: 15px 15px 15px 15px;
    padding: 4px 10px 4px 10px;
    vertical-align: middle;
    outline: none;
    color: white;
    width: 300px;
}

input:active.DarkMatterUplineSearch {
    outline: none;
}

div.DarkMatterUplineSearchElement {
    width: 300px;
    background-color: var(--color-top-dark);
    padding: 4px 10px 4px 10px;
    transition: 0.4s;
    border-top: 1px solid var(--color-orange);
}

div:hover.DarkMatterUplineSearchElement {
    background-color: var(--color-grey);
}

a.DarkMatterUplineSearchElement {
    color: white;
    text-decoration: none;
}

/*Меню навигации*/

div.DarkMatterMenu {
    transition: 0.4s;
    height: 100%;
    width: 400px;
    position: absolute;
    left: -400px;
    top: 0;
    background-color: var(--color-top-dark);
    position: fixed;
    z-index: 999;
}

h1.DarkMatterMenu {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

button.DarkMatterMenu {
    color: white;
    font-size: 20px;
    background-color: var(--color-top-dark);
    width: 60px;
    height: 60px;
    border: none;
    transition: 0.4s;
    margin-left: 20px;
    margin-right: 5px;
    float: right;
    position: relative;
    top: -65px;
    border-radius: 50%;
}

button:hover.DarkMatterMenu {
    background-color: var(--color-orange);
    cursor: pointer;
    transform: rotate(360deg);
}

button:focus.DarkMatterMenu {
    outline: none;
}

ul.DarkMatterMenuElement {
    margin: 0;
    padding: 0;
    width: 100%;
}

li.DarkMatterMenuElement {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    width: 80%;
    list-style-type: none;
    border-bottom: 1px solid var(--color-dark);
    
}

a.DarkMatterMenuElement {
    width: 100%;
    color: white;
    font-size: 32px;
    text-decoration: none;
    transition: 0.4s;
    display: block;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 28px;
}

a:hover.DarkMatterMenuElement {
    text-decoration: none;
    padding-left: 5%;
    color: var(--color-orange);
    cursor: pointer;
}

a:active.DarkMatterMenuElement {
    color: var(--color-dark-orange);
}

span.DarkMatterMenuElement {
    background-size: 100%;
    width: 22px; 
    height: 22px; 
    margin-right: 10px;
    display: inline-block;
}

/*Читалка*/

body.Reader {
    background-color: #323B4A;
}

div.Main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
	min-width: 500px;
	width: 100%;
	text-align: center;
}

h1.Main {
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: "Georgia";
	margin-bottom: 20px;
	margin-top: 0;
}

h2.Main {
	color: white;
	font-size: 26px;
	text-align: left;
	font-family: "Roboto"inherit;
	margin-bottom: 0px;
	margin-top: 10px
}

h3.Main {
	color: white;
	font-size: 20px;
	text-align: left;
	font-family: "Roboto"inherit;
	margin-bottom: 0px;
	margin-top: 10px
}

hr.Main {
	border: 0.5px solid RGBA(0, 0, 0, 0.2);
}

img.Reader25 {
	width: 25%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

img.Reader50 {
	width: 50%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

img.Reader75 {
	width: 75%;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

h4.Reader {
	text-indent: 50px;
	text-align: justify;
	color: white;
	font-size: 20px;
	font-style: normal;
	font-family: "Times New Roman";
	margin: 0;
}

table.ButtonReader {
	width: 100%;
}

a.ButtonReader {
	display: inline-block;
	background: #252b37;
	color: black;
	text-align: center;
	text-decoration: none;
	user-select: none;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border-radius: 5px;
	transition: 0.2s;
	width: 100%;
}

a.ButtonReader:hover {
	background: #f0a310;
}

a.ButtonReader:active {
	background: white;
}

span.ButtonReaderMain {
	font-size: 24px;
	color: white;
	margin-left: 15px;
}

span.ButtonReaderNavigate {
	font-size: 24px;
	color: white;
	margin: 0;
}

img.ButtonReader {
	height: auto;
	max-width: 20px;
	margin-left: 0;
}

div.ReaderPoem {
	width: 50%;
	margin: auto;
	text-indent: 26px;
	text-align: justify;
	color: white;
	font-size: 17px;
	font-family: "Georgia";
}

div.Reader {
	max-width: 1000px;
	line-height: 25px;
	margin: auto;
	text-indent: 50px;
	text-align: justify;
	color: white;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

div.DarkBackground {
	background-color: RGB(37, 43, 55);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 1px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
}

p.Italic {
	font-style: italic;
}

span.Italic {
	font-style: italic;
}

/*Страницы информации.*/

div.DarkMatterPersons {
    width: 100%;
    background-color: var(--color-light-dark);
}

div.Person {
    border-bottom: 2px solid var(--color-dark);
    width: 100%;
    margin-top: -1px;
}

div.PersonTitle {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 36px;
    background-color: var(--color-top-dark);
    cursor: default;
}

table.Person {
    width: 100%;
    padding: 0;
    transition: 0.4s;
}

td.PersonPicture {
    padding: 0;
    height: 200px;
    width: 200px;
    
}

td.PersonDataLeft {
    padding: 0;
    padding-left: 10px;
    height: 200px;
    width: calc(100% - 200px);
    vertical-align: top;
    background: linear-gradient(to right, var(--color-dark), var(--color-light-dark));
}

td.PersonDataRight {
    
    padding: 0;
    padding-left: 10px;
    height: 200px;
    width: calc(100% - 200px);
    vertical-align: top;
    background: linear-gradient(to left, var(--color-dark), var(--color-light-dark));
}

img.PersonPictureLeft {
    height: 80%;
    width: 80%;
    display: block;
    transition: 0.5s;
    margin: auto;
    border-radius: 50%;
}

img:hover.PersonPictureLeft {
    height: 100%;
    width: 100%;
    border-radius: 0 10% 10% 0;
}

img.PersonPictureRight {
    height: 80%;
    width: 80%;
    display: block;
    transition: 0.5s;
    margin: auto;
    border-radius: 50%;
}

img:hover.PersonPictureRight {
    height: 100%;
    width: 100%;
    border-radius: 10% 0 0 10%;
}

h1.PersonData {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: white;
    font-family: "Verdana";
    font-size: 28px;
    cursor: default;
}

p.PersonData {
    font-family: "Verdana";
    color: white;
    margin: 0;
    padding: 0;
    cursor: default;
    
}

span.PersonAtWork {
    color: green;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px green;
}

span.PersonAtPause {
    color: orange;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px orange;
}

span.PersonAtOut {
    color: red;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px red;
}

div.LogoContainer {
    width: 100%;
}

img.LogoContainer {
    display: block;
    width: 100%;
}

/*Страница новеллы.*/

div.BookDescription {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
	max-width: 1200px;
    width: 100%;
}

div.BookLeftLayout {
    width: 30%;
    margin-left: 15px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box; 
}

div.BookRightLayout {
    width: calc(70% - 45px);
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

#BookCoversContainer {
    position: relative;
    height: 100%;
}

img.BookCover {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    opacity: 0;
    transition: 1s;
}

img.BookCoverActive {
    z-index: 2;
    opacity: 1;
}

h1.BookName {
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: "Georgia";
    margin-bottom: 0;
    margin-top: 0;
    cursor: default;
}

hr.BookLine {
	border: 0.5px solid RGBA(0, 0, 0, 0.2);
}

div.BookDescriptionLine {
    width: 100%;
}

p.BookDescriptionLine {
    color: white;
    padding: 0 0px 0px 0;
    margin: 0 0px 0px 10px;
    font-size: 18px;
    background: url() no-repeat left center; 
    background-size: 20px; 
    display: inline-block;
    vertical-align:bottom;
    padding-left: 25px;
    width: calc(100% - 40px);
}

span.BookDescriptionLineRight {
    font-size: 18px;
    color: #7aad00;
    float: right;
    margin-right: 0;
}

div.BookDescriptionText {
    border: 2px dashed white;
    border-radius: 15px;
    margin: 40px auto 40px auto;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
}

p.BookDescriptionTextHead {
    color: white;
    font-size: 28px;
    background: url() no-repeat left center; 
    background-size: 24px; 
    display: inline-block;
    vertical-align: bottom;
    padding-left: 30px;
    margin: 0;
}

p.BookDescriptionText {
    padding: 5px 0 5px 0 ;
    margin: 0;
    color: white;
    font-size: 18px;
    text-indent: 30px;
    width: 100%;
    text-align: justify;
}

details.DarkMatterBookContent {
    width: calc(100% - 40px);
    margin: 15px auto 0 auto;
}

summary.DarkMatterBookContent {
    background-color: var(--color-dark);
    cursor: pointer;
    outline: 0;
    color: white;
    padding: 5px 0 5px 15px;
    font-size: 24px;
    -moz-user-select: none;
    /*Firefox.*/
    -ms-user-select: none;
    /*Internet Explorer.*/
    -khtml-user-select: none;
    /*KHTML browsers (e.g. Konqueror).*/
    -webkit-user-select: none;
    /*Chrome, Safari, and Opera.*/
    -webkit-touch-callout: none;
    /*Disable Android and iOS callouts.*/
    transition: 0.5s;
}

summary:hover.DarkMatterBookContent {
    background-color: #ff8c00;
}

div.DarkMatterBookChapter {
    width: 100%;
    background-color: var(--color-middle-dark);
    vertical-align: middle;
    transition: 0.5s;
    border-bottom: 1px solid var(--color-dark);
    border-right: 1px solid var(--color-dark);
    border-left: 1px solid var(--color-dark);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div:hover.DarkMatterBookChapter {
    background-color: RGB(68, 78, 96);
}

p.DarkMatterBookChapter {
    font-size: 24px;
    color: white;
    margin: 5px 0 5px 10px;
    vertical-align: middle;
    display: inline-block;
    font-family: "Georgia" inherit;
    cursor: default;
    display: inline-block;
}

a.DarkMatterBookChapter {

    background: #75829b;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    user-select: none;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
    width: 80%;
    height: 100%;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    transition: 0.5s;
}

table.DarkMatterBookChapter {
    width: 100%;
}

td.DarkMatterBookChapterLeft {
    width: 80%;
}

td.DarkMatterBookChapterRight {
    width: 20%;
}

a.DarkMatterBookChapter:hover {
    background: #ff8c00;
}

div.LibruaryBookContainer {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto 40px auto;
    overflow: hidden;
}

div.LibruaryBookBlock {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}

h1.LibruaryBookName {
    display: block;
    margin: 5px 0 5px 0;
    padding: 0;
    color: white;
    font-size: 120%;
    font-weight: 700;
    overflow: hidden;
}

button.LibruaryBookButton {
    width: 100%;
    padding: 5px 10px 5px 10px;
    background-color: var(--color-dark);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;
    transition: 0.4s;
    outline: none;
}

button:hover.LibruaryBookButton {
    background-color: var(--color-orange);
    cursor: pointer;
}

button:active.LibruaryBookButton {
    outline: none;
    background-color: #ff8c00;
}

img.LibruaryBookCapture {
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 20px 0 0 0;
}

/*Новые релизы.*/

div.NewReleases {
    max-width: 1200px;
    margin: 40px auto 40px auto;
}

div.NewReleasesHead {
    background-color: var(--color-dark);
}

p.NewReleasesHead {
    color: white;
    font-size: 30px;
    padding: 10px;
    margin: 0;
}

table.NewReleases {
    width: 100%;
    background-color: var(--color-middle-dark);
    border-left: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
    transition: 0.4s;
}

table:hover.NewReleases {
    background-color: var(--color-light-dark);
}

td.NewReleasesCover {
    width: 48px;
    padding: 0;
}

img.NewReleasesCover {
    display: block;
    width: 48px;
    border-right: 2px solid var(--color-dark);
}

td.NewReleasesText {
    padding: 0;
    vertical-align: top;
}

h2.NewReleasesText {
    margin: 0;
    padding: 5px 0 0 10px;
    font-weight: bold;
    color: white;
    font-size: 28px;
}

p.NewReleasesText {
    margin: 0;
    padding: 0px 0 0 10px;
    color: white;
    font-size: 18px;
}

span.NewReleasesText {
    color: green;
    font-size: 16px;
    padding: 0 0 0 10px;
    vertical-align: middle;
}

td.NewReleasesButton {
    padding: 0 10px 0px 20px;
    width: 100px;
}

button.NewReleasesButton {
    -moz-user-select: none;
    /*Firefox.*/
    -ms-user-select: none;
    /*Internet Explorer.*/
    -khtml-user-select: none;
    /*KHTML browsers (e.g. Konqueror).*/
    -webkit-user-select: none;
    /*Chrome, Safari, and Opera.*/
    -webkit-touch-callout: none;
    /*Disable Android and iOS callouts.*/
    padding: 0;
    background-color: var(--color-grey);
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
}

button:hover.NewReleasesButton {
    background-color: var(--color-orange);
}

button:active.NewReleasesButton {
    outline: none;
}

button:focus.NewReleasesButton {
    outline: none;
}

/*Для смартфонов*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    div.DarkMatterDownline {
        width: 100%;
        background-color: var(--color-dark);
        text-align: center;
        color: white;
        font-size: 26px;
        display: inline-block;
        vertical-align: middle;
    }

    /*Панель поиска*/

    div.DarkMatterUplineSearch {
        visibility: hidden;
    }

    /*Шапка сайта*/

    h6.DarkMatterUpline {
        font-size: 64px;
        color: white;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        vertical-align: middle;
        display: flex;
        height: 120px;
        align-items: center;
        visibility: visible;
    }

    div.DarkMatterUpline {
        background-color: var(--color-dark);
        width: 100%;
        height: 120px;
    }

    button.DarkMatterUpline {
        color: white;
        font-size: 64px;
        background-color: var(--color-dark);
        width: 120px;
        height: 120px;
        border: none;
        transition: 0.4s;
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /*Панель поиска*/

    div.DarkMatterUplineSearch {
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
        vertical-align: middle;
    }

    input.DarkMatterUplineSearch {
        display: inline-block;
        border: none;
        background-color: var(--color-top-dark);
        margin: 14.5px 20px 0 0;
        font-size: 30px;
        border-radius: 15px 15px 15px 15px;
        padding: 4px 10px 4px 10px;
        vertical-align: middle;
        outline: none;
        color: white;
        width: 400px;
        height: 43px;
    }

    input:active.DarkMatterUplineSearch {
        outline: none;
    }

    div.DarkMatterUplineSearchElement {
        width: 400px;
        background-color: var(--color-top-dark);
        padding: 4px 10px 4px 10px;
        transition: 0.4s;
        border-top: 1px solid var(--color-orange);
    }

    div:hover.DarkMatterUplineSearchElement {
        background-color: var(--color-grey);
    }

    a.DarkMatterUplineSearchElement {
        color: white;
        text-decoration: none;
        font-size: 30px;
        padding: 10px;
    }

    /*Меню навигации*/

    div.DarkMatterMenu {
        transition: 0.4s;
        height: 100%;
        width: 100%;
        position: absolute;
        left: -100%;
        top: 0;
        background-color: var(--color-top-dark);
        position: fixed;
    }

    h1.DarkMatterMenu {
        color: white;
        font-size: 70px;
        margin-top: 20px;
        padding: 0;
        text-align: center;
    }

    button.DarkMatterMenu {
        color: white;
        font-size: 40px;
        background-color: var(--color-top-dark);
        width: 80px;
        height: 80px;
        border: none;
        transition: 0.4s;
        margin-left: 20px;
        margin-right: 5px;
        float: right;
        position: relative;
        top: -120px;
        right: 20px;
        border-radius: 50%;
    }

    li.DarkMatterMenuElement {
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        width: 90%;
        list-style-type: none;
        border-bottom: 1px solid var(--color-dark);
        
    }

    a.DarkMatterMenuElement {
        width: 100%;
        color: white;
        font-size: 64px;
        text-decoration: none;
        transition: 0.4s;
        display: block;
        margin-top: 20px;
        padding-bottom: 15px;
        background-size: 100px;
        background:url() no-repeat left center;
    }

    a:hover.DarkMatterMenuElement {
        text-decoration: none;
        padding-left: 0;
        color: var(--color-orange);
    }

    span.DarkMatterMenuElement {
        background-size: 100%;
        width: 50px; 
        height: 50px; 
        margin-right: 20px;
        display: inline-block;
    }

    /*Читалка.*/

    div.Reader {
        margin: auto;
        width: 95%;
        text-align: justify;
        color: white;
        padding: 0;
        font-size: 24px;
        font-family: "Times New Roman";
        line-height: 300%;
        text-indent: 10%;
        word-break: break-word;
    }

    div.ReaderPoem {
        width: 95%;
        margin: auto;
        text-align: justify;
        text-indent: 0;
        color: white;
        font-size: 14px;
        font-family: "Georgia";
    }
    
    img.Reader25 {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader50 {
        width: 75%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader75 {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h4.Reader {
        text-indent: 10%;
        text-align: justify;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-family: "Times New Roman";
        margin: 0;
    }
    
    h2.Main {
        color: white;
        font-size: 14px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 10px;
        padding-left: 30px;
    }

    h3.Main {
        color: white;
        font-size: 36px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 30px;
    }

    a.ButtonReader {
        display: inline-block;
        background: #252b37;
        color: black;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding-top: 30px;
        padding-bottom: 20px;
        outline: none;
        transition: 0.2s;
        width: 100%;
        height: 60px;
    }

    span.ButtonReaderMain {
        font-size: 40px;
        color: white;
        margin-left: 15px;
    }

    span.ButtonReaderNavigate {
        font-size: 40px;
        color: white;
        margin: 0;
    }

    img.ButtonReader {
        height: auto;
        max-width: 35px;
        margin-left: 0;
    }

    /*Старинца новеллы.*/
    
    details.DarkMatterBookContent summary::-webkit-details-marker {
        font-size: 46px;
    }

    div.DarkMatterBookChapter {
        width: 100%;
        background-color: var(--color-light-dark);
        vertical-align: middle;
        transition: 0.5s;
        border-bottom: 3px solid var(--color-dark);
        border-right: 3px solid var(--color-dark);
        border-left: 3px solid var(--color-dark);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    p.DarkMatterBookChapter {
        font-size: 46px;
        color: white;
        /*margin: 5px 0 5px 42px;*/
        vertical-align: middle;
        display: inline-block;
        font-family: "Georgia" inherit;
        cursor: default;
        width: 90%;
        box-sizing:padding-box;
    }

    a.DarkMatterBookChapter {
        font-size: 40px;
        background: #75829b;
        color: white;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        user-select: none;
        outline: none;
        border-radius: 5px;
        transition: 0.2s;
        width: 100%;
        height: 100%;
        float: right;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 8px;
        transition: 0.5s;
    }

    p.BookDescriptionTextHead {
        background-size: 36px; 
        padding-left: 50px;
        font-size: 46px;
    }
    
    p.BookDescriptionText {
        text-indent: 50px;
    }

    p.BookDescriptionLine {
        font-size: 30px;
        background-size: 30px; 
        padding-left: 45px;
        width: calc(100% - 60px);
    }

    span.BookDescriptionLineRight {
        font-size: 30px;
    }

    h1.BookName {
        font-size: 36px;
    }

    /*Библиотека.*/

    div.LibruaryBookContainer {
        max-width: 1200px;
        width: 100%;
        margin: 40px auto 40px auto;
        overflow: hidden;
    }
    
    div.LibruaryBookBlock {
        width: 50%;
        margin: 20px 0 20px 0;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        box-sizing: border-box;
    }
    
    h1.LibruaryBookName {
        display: block;
        margin: 5px 0 5px 0;
        padding: 0;
        color: white;
        font-size: 54px;
        overflow: hidden;
    }
    
    button.LibruaryBookButton {
        width: 100%;
        padding: 10px 10px 10px 10px;
        background-color: var(--color-dark);
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 64px;
        text-align: center;
        transition: 0.4s;
        outline: none;
    }

    /*Новые релизы.*/

    p.NewReleasesHead {
        font-size: 46px;
    }

    td.NewReleasesCover {
        width: 96px;
    }

    img.NewReleasesCover {
        width: 96px;
    }

    h2.NewReleasesText {
        font-size: 42px;
    }

    p.NewReleasesText {
        font-size: 25px;
    }

    span.NewReleasesText {
        font-size: 20px;
    }

    button.NewReleasesButton {
        padding: 15px;
        font-size: 36px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');