/*CSS: таблица стилей DUBO. Версия: 0.0.1*/
/*=========================================================================================================================*/

div.DarkMatterContent {
    width: 100%;
}

:root {
    --color-light-dark: RGB(48, 58, 76);
    --color-dark: #252b37;
    --color-top-dark: #11141a;
    --color-orange: RGB(260, 163, 16);
    --color-grey: RGB(117, 130, 155);
}

/*=========================================================================================================================*/

div.DarkMatterPersons {
    width: 100%;
    background-color: var(--color-light-dark);
}

div.Person {
    border-bottom: 2px solid var(--color-dark);
    width: 100%;
    margin-top: -1px;
}

div.PersonTitle {
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 36px;
    background-color: var(--color-top-dark);
    cursor: default;
}

table.Person {
    width: 100%;
    padding: 0;
    transition: 0.4s;
}

td.PersonPicture {
    padding: 0;
    height: 200px;
    width: 200px;
    
}

td.PersonDataLeft {
    padding: 0;
    padding-left: 10px;
    height: 200px;
    width: calc(100% - 200px);
    vertical-align: top;
    background: linear-gradient(to right, var(--color-dark), var(--color-light-dark));
}

td.PersonDataRight {
    
    padding: 0;
    padding-left: 10px;
    height: 200px;
    width: calc(100% - 200px);
    vertical-align: top;
    background: linear-gradient(to left, var(--color-dark), var(--color-light-dark));
}

img.PersonPictureLeft {
    height: 80%;
    width: 80%;
    display: block;
    transition: 0.5s;
    margin: auto;
    border-radius: 50%;
}

img:hover.PersonPictureLeft {
    height: 100%;
    width: 100%;
    border-radius: 0 10% 10% 0;
}

img.PersonPictureRight {
    height: 80%;
    width: 80%;
    display: block;
    transition: 0.5s;
    margin: auto;
    border-radius: 50%;
}

img:hover.PersonPictureRight {
    height: 100%;
    width: 100%;
    border-radius: 10% 0 0 10%;
}

h1.PersonData {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    color: white;
    font-family: "Verdana";
    font-size: 28px;
    cursor: default;
}

p.PersonData {
    font-family: "Verdana";
    color: white;
    margin: 0;
    padding: 0;
    cursor: default;
    
}

span.PersonAtWork {
    color: green;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px green;
}

span.PersonAtPause {
    color: orange;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px orange;
}

span.PersonAtOut {
    color: red;
    padding-left: 10px;
    font-size: 32px;
    text-shadow: 0px 0px 1px, 0 0 10px red;
}



div.LogoContainer {
    width: 100%;
    margin-top: -40px;
}

img.LogoContainer {
    display: block;
    width: 100%;
}

/*Dark Matter Design.*/
/*=========================================================================================================================*/

body.DarkMatter {
    margin: 0;
    background-color: RGB(61, 71, 90);
}

p.DarkMatterBookTextBox {
    font-size: 18px;
    color: white;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Roboto" inherit;
    cursor: default;
}

div.DarkMatterBookContent {
    width: 100%;
}

/*Слайдер обложек.*/

#DarkMatterCoverSlides {
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.DarkMatterCoverSlide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.DarkMatterCoverShowing {
    opacity: 1;
    z-index: 2;
}

/*Хранилище DUBO.*/
/*=========================================================================================================================*/

body.Storage {
    background-color: RGB(61, 71, 90);
    margin: 0;
}

div.Storage {
    width: 100%;
    height: 100%;
}

div.StorageEmptySpace {
    height: 40px;
    width: 100%;
}

table.Storage {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    border: none;
    padding: 0;
    border: 4px solid RGB(51, 61, 80);
}

th.StorageFileLine {
    padding: 0;
    height: 40px;
    background-color: #252b37;
    border-left: 4px solid RGB(51, 61, 80);
    border-top: 4px solid RGB(51, 61, 80);
    border-right: 4px solid RGB(51, 61, 80);
}

p.StorageFileLine {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    cursor: default;
}

td.StorageFileLine {
    width: 100%;
    border-right: 4px solid RGB(51, 61, 80);
    padding: 0;
}

td.StorageFileLineLeft {
    width: 3%;
    height: 40px;
    padding: 0;
    background-color: #252b37;
    border-top: 1px solid RGBA(0,0,0,0.2);
}

img.StorageFileLineLeft {
    width: 50%;
    height: auto;
    padding-left: 15px;
}

td.StorageFileLineMiddle {
    width: 70%;
    height: 40px;
    padding: 0;
    background-color: #252b37;
    border-top: 1px solid RGBA(0,0,0,0.2);
}

td.StorageFileLineRight {
    width: 20%;
    height: 40px;
    padding: 0;
    background-color: #252b37;
    border-top: 1px solid RGBA(0,0,0,0.2);
    text-align: left;
}

p.StorageFileLineRight {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    text-align: right;
    padding-right: 15px;
    cursor: default;
}

a.StorageFileLineRight {
    color: white;
    font-size: 18px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    }

a:hover.StorageFileLineRight {
    color: RGB(260, 163, 16);
}

a:active.StorageFileLineRight {
    color: RGB(230, 133, 0);
}

span.StorageFileLineRightSize {
    color: #B22222;
}

span.StorageFileLineRightTime {
    color: green;
}

a.StorageFileLineLeft {
    color: white;
    font-size: 24px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

a:hover.StorageFileLineLeft {
    color: RGB(260, 163, 16);
}

div.StorageDirectory {
    width: 90%;
    margin: auto;
}

table.StorageDirectory {
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    border: 4px solid RGB(51, 61, 80);
    background-color: #252b37;
    margin-bottom: 40px;
}

td.StorageDirectoryLeft {
    width: 90%;
    height: 100%;
}

td.StorageDirectoryRight {
    width: 10%;
    height: 100%;
    padding: 0;
    border-left: 4px solid RGB(51, 61, 80);
    text-align: center;
}

button.StorageDirectoryRight {
    color: white;
    text-align: center;
    font-size: 32px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    border: none;
    background-color: rgb(147, 160, 185);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    width: 100%;
    height: 100%;
}

button:hover.StorageDirectoryRight {
    color: black;
    background-color: rgb(197, 210, 235);
}

button:focus.StorageDirectoryRight {
    outline: none;
}

button:active.StorageDirectoryRight {
    outline: none;
    background-color: rgb(167, 180, 205);
    border: 1px solid black;
}

p.StorageDirectoryLeft {
    padding: 10px;
    margin: 0;
    color: white;
    font-size: 28px;
    font-family: "Roboto" inherit;
    text-decoration: none;
    cursor: default;
}

/*Типы ячеек изображений.*/

div.StorageImageBox {
    padding: 0;
    margin: 0;
    width: 10%;
    height: auto;
    border-top: 4px solid RGB(51, 61, 80);
    border-right: 2px solid RGB(51, 61, 80);
    border-left: 2px solid RGB(51, 61, 80);
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    float: left;
}

div.StorageImageBoxLeft {
    padding: 0;
    margin: 0;
    width: 10%;
    height: auto;
    border-top: 4px solid RGB(51, 61, 80);
    border-right: 2px solid RGB(51, 61, 80);
    box-sizing: border-box;
    float: left;
}

div.StorageImageBoxRight {
    padding: 0;
    margin: 0;
    width: 10%;
    height: auto;
    border-top: 4px solid RGB(51, 61, 80);
    border-left: 2px solid RGB(51, 61, 80);
    box-sizing: border-box;
    float: left;
}

div.StorageImageBoxEnd {
    padding: 0;
    margin: 0;
    width: calc(10% + 2px);
    height: auto;
    border-top: 4px solid RGB(51, 61, 80);
    border-right: 4px solid RGB(51, 61, 80);
    border-left: 2px solid RGB(51, 61, 80);
    box-sizing: border-box;
    float: left;
}

div.StorageImageBoxStart {
    padding: 0;
    margin: 0;
    width: calc(10% + 2px);
    height: auto;
    border-top: 4px solid RGB(51, 61, 80);
    border-right: 4px solid RGB(51, 61, 80);
    box-sizing: border-box;
    float: left;
}

/*Изображение и кнопка получения прямой ссылки.*/

div.StorageBoxMagnus {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

div.StorageBoxParvus {
    width: 100%;
    border-top: 4px solid RGB(51, 61, 80);
}

img.StorageImage {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    padding-bottom: 2px;
}

button.StorageBoxParvus {
    font-weight: bold;
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    border: none;
    height: 20px;
    background-color: rgb(147, 160, 185);
    transition: 0.4s;
    cursor: pointer;
}

button:hover.StorageBoxParvus {
    background-color: rgb(197, 210, 235);
    color: black;
}

button:focus.StorageBoxParvus {
    outline: none;
}

button:active.StorageBoxParvus {
    outline: none;
    background-color: rgb(167, 180, 205);
    border: 1px solid black;
}

/*Адаптивный Dark Matter Design.*/
/*=========================================================================================================================*/

@media screen {
    
    /*Страница ошибки.*/
    /*=========================================================================================================================*/
    div.ErrorWindow {
        width: 30%;
        margin: auto;
        margin-top: 200px;
    }
    
    img.ErrorWindow {
        width: 20%;
        float: left;
        padding-right: 3%;
        
    }
    
    p.ErrorWindow {
        font-size: 18px;
        text-align: justify;
        font-family: "Times New Roman";
    }
    
    h1.ErrorWindow {
        padding: 0;
        margin: 0;
        font-size: 26px;
        text-align: center;
    }
    
    a.ErrorWindow {
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        color: blue;
        font-size: 18px;
    }
    
    a:hover.ErrorWindow {
        color: green;
    }
    
    /*=========================================================================================================================*/
    /*Главная страница.*/
    
    div.DarkMatterRelises {
        width: 60%;
        margin-top: 40px;
        margin: auto;
        background-color: var(--color-light-dark);
    }

    table.DarkMatterRelises {
        width: 100%;
        height: 64px;
        table-layout: fixed;
        box-sizing: border-box;
        border-left: 2px solid var(--color-dark);
        border-right: 2px solid var(--color-dark);
    }
    
    div.DarkMatterRelisesHead {
        width: 100%;
        height: 64px;
        display: table;
        background-color: var(--color-dark);
        text-align: left;
    }
    
    p.DarkMatterRelisesHead {
        padding-left: 15px;
        font-size: 36px;
        color: white;
        display: table-cell;
        vertical-align: middle;
        font-family: "Times New Roman";
    }

    td.DarkMatterRelisesCover {
        width: 48px;
        padding: 0;
        height: 64px;
        border-bottom: 2px solid var(--color-dark);
        border-right: 1px solid var(--color-dark);
        box-sizing: border-box;
    }

    td.DarkMatterRelisesName {
        width: calc(77% - 48px);
        padding: 0;
        border-bottom: 2px solid var(--color-dark);
    }

    h1.DarkMatterRelisesName {
        color: white;
        font-size: 18px;
        margin: 0;
        margin-left: 15px;
    }

    p.DarkMatterRelisesName {
        color: white;
        font-size: 20px;
        margin: 0;
        margin-left: 15px;
    }

    span.DarkMatterRelisesName {
        padding-left: 20px;
        color: green;
        vertical-align: middle;
        font-size: 12px;
    }

    td.DarkMatterRelisesRead {
        width: 13%;
        height: 100%;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid var(--color-dark);
    }

    a.DarkMatterRelisesRead {
        width: calc(100% - 10px);
        border: none;
        height: 48px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        background-color: var(--color-grey);
        border-radius: 10px;
        transition: 0.4s;
        cursor: pointer;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    a:hover.DarkMatterRelisesRead {
        background-color: var(--color-orange);
    }

    img.DarkMatterRelisesCover {
        height: 100%;
        width: 100%;
        display: block;
    }
    
    /*Страница библиотеки.*/
    /*=========================================================================================================================*/
    
    table.DarkMatterLibruaryLine {
        margin-top: 50px;
        width: 100%;
    }

    td.DarkMatterLibruaryBook {
        width: 20.5%;
        text-align: center;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        margin-left: 2.25%;
        margin-right: 2.25%;
    }

    img.DarkMatterLibruaryBook {
        width: 100%;
        height: 320px;
        border: 1px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

    }

    h1.DarkMatterLibruaryBook {
        width: 100%;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        margin-top: 0px;
        text-align: left;
        font-family: "Times New Roman";
    }

    button.DarkMatterLibruaryButtonAllow {
        width: 100%;
        color: white;
        font-size: 32px;
        background-color: #252b37;
        text-decoration: none;
        transition: 0.4s;
        border: none;
        border-radius: 15px;
        font-style: "Roboto";
    }

    button:hover.DarkMatterLibruaryButtonAllow {
        background-color: RGB(260, 163, 16);
        cursor: pointer;
    }

    button:active.DarkMatterLibruaryButtonAllow {
        outline: none;
        background-color: RGB(220, 113, 0);
    }

    button:focus.DarkMatterLibruaryButtonAllow {
        outline: none;
    }

    button.DarkMatterLibruaryButtonDeny {
        width: 100%;
        color: white;
        font-size: 32px;
        background-color: #708090;
        text-decoration: none;
        border: none;
        border-radius: 15px;
        font-style: "Roboto";
    }

    button:active.DarkMatterLibruaryButtonDeny {
        outline: none;
    }

    button:focus.DarkMatterLibruaryButtonDeny {
        outline: none;
    }

    span.DarkMatterLibruaryBook {
        padding-left: auto;
    }
    
    /*Верхняя панель навигации.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterUpline {
        width: 100%;
        background-color: #252b37;
        height: 60px;
        margin-bottom: 40px;
    }
    
    table.DarkMatterUplineMagnus {
        width: 60%;
        margin: auto;
        height: 60px;
        border-collapse: collapse;
    }
    
    td.DarkMatterUplineMagnus {
        padding: 0;
        width: 20%;
        
    }
    
    table.DarkMatterUplineParvus {
        width: 100%;  
        transition: 0.4s;
        border-collapse: collapse;
    }
    
    table:hover.DarkMatterUplineParvus {
        background-color: RGB(61, 71, 90);
    }
    
    td.DarkMatterUplineParvusLeft {
        width: 30%;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    
    td.DarkMatterUplineParvusRight {
        width: 70%;
        height: 60px;
        margin: 0;
        padding: 0;
    }
    
    img.DarkMatterUplineParvus {
        max-height: 50%;
        max-width: 50%;
    }
    
    a.DarkMatterUplineParvus {
        margin: 0;
        padding: 0;
        transition: 0.4s;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 24px;
        outline: none;
    }
    
    a:hover.DarkMatterUplineParvus {
        color: RGB(260, 163, 16);
    }
    
    /*Список глав.*/
    /*=========================================================================================================================*/
    
    details.DarkMatterBookContent {
        width: 100%;
        margin: 15px 0 0 0;
    }

    summary.DarkMatterBookContent {
    background-color: #252b37;
    cursor: pointer;
    outline: 0;
    color: white;
    padding: 5px 0 5px 15px;
    font-size: 24px;
    -moz-user-select: none; /*Firefox.*/
    -ms-user-select: none; /*Internet Explorer.*/
    -khtml-user-select: none; /*KHTML browsers (e.g. Konqueror).*/
    -webkit-user-select: none; /*Chrome, Safari, and Opera.*/
    -webkit-touch-callout: none; /*Disable Android and iOS callouts.*/
    transition: 0.5s;
}

    summary:hover.DarkMatterBookContent {
    background-color: #ff8c00;
}

    div.DarkMatterBookChapter {
    width: 100%;
    background-color: RGB(48, 58, 76);
    vertical-align: middle;
    transition: 0.5s;
    border-bottom: 1px solid #252b37;
    border-right: 1px solid #252b37;
    border-left: 1px solid #252b37;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    div:hover.DarkMatterBookChapter {
        background-color: RGB(68, 78, 96);
    }

    p.DarkMatterBookChapter {
        font-size: 24px;
        color: white;
        margin: 5px 0 5px 42px;
        vertical-align: middle;
        display: inline-block;
        font-family: "Georgia" inherit;
        cursor: default;
        display: inline-block;
    }

    a.DarkMatterBookChapter {
    
    background: #75829b;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    user-select: none;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
    width: 80%;
    height: 100%;
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
    transition: 0.5s;
    }
    
    table.DarkMatterBookChapter {
    width: 100%;
    }

    td.DarkMatterBookChapterLeft {
        width: 80%;
    }
    
    td.DarkMatterBookChapterRight {
        width: 20%;
    }
    
    a.DarkMatterBookChapter:hover { 
    background: #ff8c00;
    }
    
    /*Описание книги.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterBookTextBox {
        border: 3px dashed white;
        border-radius: 10px;
        margin: 30px 0 30px 0;
        width: 100%;
        -moz-box-sizing: border-box; /* Для Firefox.*/
        -webkit-box-sizing: border-box; /* Для Safari и Chrome.*/
        box-sizing: border-box; /* Для IE и Opera.*/
    }
    
    div.DarkMatterBookTextBoxUpline {
        width: 100%;
    }

    img.DarkMatterBookTextBoxUpline {
        height: auto;
        width: 24px;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }

    p.DarkMatterBookTextBoxUpline {
        font-size: 20px;
        color: white;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Roboto" inherit;
        cursor: default;
    } 
    
    /*Обложка и информация о новелле.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterCover {
        float: left;
        width: 30%;
        height: 460px;
    }
    
    img.DarkMatterCover {
        width: 100%;
        height: 460px;
        border: 1px solid black;
        box-sizing: border-box;
        display: block;
    }
    
    div.DarkMatterDescription {
        float: left;
        width: 69%;
        margin-left: 1%;
        display: table-row;
    }

    h1.DarkMatterDescription {
        color: white;
        font-size: 30px;
        text-align: left;
        font-family: "Georgia";
        margin-bottom: 0;
        margin-top: 0;
        cursor: default;
    }

    img.DarkMatterDescription {
        max-width: 20px;
        height: auto;
    }

    p.DarkMatterDescription {
        font-size: 18px;
        color: white;
        margin-left: 15px;
        vertical-align: middle;
        display: table-cell;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: default;
    }

    a.DarkMatterDescription {
        color: rgb(167, 164, 164);
        transition: 0.4s;
        text-decoration: none;
    }

    a:hover.DarkMatterDescription {
        color: RGB(255, 163, 16);
    }
    
    table.DarkMatterDescription{
        width: 100%;
        padding: 0;
    }
    
    td.DarkMatterDescriptionLeft {
        width: 5%;
        text-align: center;
        padding: 0;
    }
    
    td.DarkMatterDescriptionMiddle {
        margin: 0;
        padding: 0;
        text-align: left;
    }
    
    td.DarkMatterDescriptionRight {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    
    span.DarkMatterDescriptionRight {
        font-size: 18px;
        color: #7aad00;
        text-align: right;
        cursor: default;
    }
    
    /*Читалка.*/
    /*=========================================================================================================================*/
    
    table.ButtonReader {
        width: 100%;
    }

    a.ButtonReader {
        display: inline-block;
        background: #252b37;
        color: black;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
        border-radius: 5px;
        transition: 0.2s;
        width: 100%;
    }

    a.ButtonReader:hover {
        background: #f0a310;
    }

    a.ButtonReader:active {
        background: white;
    }

    span.ButtonReaderMain {
        font-size: 24px;
        color: white;
        margin-left: 15px;
    }

    span.ButtonReaderNavigate {
        font-size: 24px;
        color: white;
        margin: 0;
    }

    img.ButtonReader {
        height: auto;
        max-width: 20px;
        margin-left: 0;
    }

    div.ReaderPoem {
        width: 50%;
        margin: auto;
        text-indent: 26px;
        text-align: justify;
        color: white;
        font-size: 17px;
        font-family: "Georgia";
    }

    div.Reader {
        width: 50%;
        line-height: 25px;
        margin: auto;
        text-indent: 3%;
        text-align: justify;
        color: white;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
    }
    
    div.DarkBackground {
        background-color: RGB(37, 43, 55);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
    }
    
    p.Italic {
        font-style: italic;
    }

    span.Italic {
        font-style: italic;
    }
    
    /*Нижняя панель страницы.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterDownline {
        width: 100%;
        background-color: #252b37;
        height: auto;
        margin-top: 40px;
        vertical-align: middle;
        text-align: center;
    }
    
    p.DarkMatterDownline {
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 20px;
        overflow: hidden;
        cursor: default;
    }

    div.DarkMatterDescriptionStr {
        width: 100%;
        vertical-align: top;
        display: inline-block;
    }

    hr.DarkMatterDescription {
        border: 0.5px solid RGBA(0, 0, 0, 0.2);
    }

    div.DarkMatterIntro {
        width: 100%;
        height: auto;
        overflow: auto;
    }

    div.DarkMatterBook {
        width: 60%;
        margin: auto;
        height: auto;
    }

    div.DarkMatterLibruary {
        width: 60%;
        margin: auto;
    }

    body.Reader {
        background-color: #323B4A;
        -moz-user-select: none;
        /* Firefox*/
        -ms-user-select: none;
        /* Internet Explorer*/
        -khtml-user-select: none;
        /* KHTML browsers (e.g. Konqueror)*/
        -webkit-user-select: none;
        /* Chrome, Safari, and Opera*/
        -webkit-touch-callout: none;
        /* Disable Android and iOS callouts*/
    }

    div.Main {
        margin-top: 20px;
        margin-bottom: 20px;
        margin: auto;
        width: 50%;
        text-align: center;
    }

    h1.Main {
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: "Georgia";
        margin-bottom: 20px;
        margin-top: 0;
    }

    h2.Main {
        color: white;
        font-size: 26px;
        text-align: left;
        font-family: "Roboto"inherit;
        margin-bottom: 0px;
        margin-top: 10px
    }

    h3.Main {
        color: white;
        font-size: 20px;
        text-align: left;
        font-family: "Roboto"inherit;
        margin-bottom: 0px;
        margin-top: 10px
    }

    hr.Main {
        border: 0.5px solid RGBA(0, 0, 0, 0.2);
    }

    img.Reader25 {
        width: 25%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader50 {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader75 {
        width: 75%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h4.Reader {
        text-indent: 3%;
        text-align: justify;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-family: "Times New Roman";
        margin: 0;
    }

    
    
}

/*Для смартфонов: горизонтальная и вертикальная ориентация.*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
    /*=========================================================================================================================*/
    /*Главная страница.*/
    
    div.DarkMatterRelises {
        width: calc(100% - 2px);
        margin-top: 40px;
        margin: auto;
        background-color: var(--color-light-dark);
    }

    table.DarkMatterRelises {
        width: 100%;
        height: 64px;
        table-layout: fixed;
        box-sizing: border-box;
        border-left: 2px solid var(--color-dark);
        border-right: 2px solid var(--color-dark);
    }
    
    div.DarkMatterRelisesHead {
        width: 100%;
        height: 64px;
        display: table;
        background-color: var(--color-dark);
        text-align: left;
    }
    
    p.DarkMatterRelisesHead {
        padding-left: 15px;
        font-size: 36px;
        color: white;
        display: table-cell;
        vertical-align: middle;
        font-family: "Times New Roman";
    }

    td.DarkMatterRelisesCover {
        width: 48px;
        padding: 0;
        height: 64px;
        border-bottom: 2px solid var(--color-dark);
        border-right: 1px solid var(--color-dark);
        box-sizing: border-box;
    }

    td.DarkMatterRelisesName {
        width: calc(77% - 48px);
        padding: 0;
        border-bottom: 2px solid var(--color-dark);
    }

    h1.DarkMatterRelisesName {
        color: white;
        font-size: 18px;
        margin: 0;
        margin-left: 15px;
    }

    p.DarkMatterRelisesName {
        color: white;
        font-size: 20px;
        margin: 0;
        margin-left: 15px;
    }

    span.DarkMatterRelisesName {
        padding-left: 20px;
        color: green;
        vertical-align: middle;
        font-size: 18px;
    }

    td.DarkMatterRelisesRead {
        width: 13%;
        height: 100%;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        border-bottom: 2px solid var(--color-dark);
    }

    a.DarkMatterRelisesRead {
        width: calc(100% - 10px);
        border: none;
        height: 48px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        background-color: var(--color-grey);
        border-radius: 10px;
        transition: 0.4s;
        cursor: pointer;
        padding: 10px;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    a:hover.DarkMatterRelisesRead {
        background-color: var(--color-orange);
    }

    img.DarkMatterRelisesCover {
        height: 100%;
        width: 100%;
        display: block;
    }
    
    /*Страница ошибки.*/
    /*=========================================================================================================================*/
    
    div.ErrorWindow {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }
    
    img.ErrorWindow {
        width: 20%;
        float: left;
        padding-right: 3%;
        
    }
    
    p.ErrorWindow {
        font-size: 18px;
        text-align: justify;
        font-family: "Times New Roman";
    }
    
    h1.ErrorWindow {
        padding: 0;
        margin: 0;
        font-size: 26px;
        text-align: center;
    }
    
    a.ErrorWindow {
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        color: blue;
        font-size: 18px;
        margin-top: 50px;
    }
    
    a:hover.ErrorWindow {
        color: green;
    }
    
    /*Страница библиотеки.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterLibruary {
        width: 100%;
        margin: auto;
    }
    
    table.DarkMatterLibruaryLine {
        margin-top: 50px;
        width: 100%;
    }

    td.DarkMatterLibruaryBook {
        width: 20.5%;
        text-align: center;
        float: left;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        margin-left: 2.25%;
        margin-right: 2.25%;
    }

    img.DarkMatterLibruaryBook {
        width: 100%;
        height: 290px;
        border: 1px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    h1.DarkMatterLibruaryBook {
        width: 100%;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        margin-top: 0px;
        text-align: left;
        font-family: "Times New Roman";
    }

    button.DarkMatterLibruaryButtonAllow {
        width: 100%;
        color: white;
        font-size: 32px;
        background-color: #252b37;
        text-decoration: none;
        transition: 0.4s;
        border: none;
        border-radius: 15px;
        font-style: "Roboto";
    }

    button:hover.DarkMatterLibruaryButtonAllow {
        background-color: #ff8c00;
        cursor: pointer;
    }

    button:active.DarkMatterLibruaryButtonAllow {
        outline: none;
        border-color: #808080;
    }

    button:focus.DarkMatterLibruaryButtonAllow {
        outline: none;
    }

    button.DarkMatterLibruaryButtonDeny {
        width: 100%;
        color: white;
        font-size: 32px;
        background-color: #708090;
        text-decoration: none;
        border: none;
        border-radius: 15px;
        font-style: "Roboto";
    }

    button:active.DarkMatterLibruaryButtonDeny {
        outline: none;
    }

    button:focus.DarkMatterLibruaryButtonDeny {
        outline: none;
    }

    span.DarkMatterLibruaryBook {
        padding-left: auto;
    }
    
    /*Верхняя панель навигации.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterUpline {
        width: 100%;
        background-color: #252b37;
        height: 60px;
        margin-bottom: 40px;
    }
    
    table.DarkMatterUplineMagnus {
        width: 100%;
        margin: auto;
        height: 60px;
        border-collapse: collapse;
    }
    
    td.DarkMatterUplineMagnus {
        padding: 0;
        width: 20%;
        
    }
    
    table.DarkMatterUplineParvus {
        width: 100%;  
        transition: 0.4s;
        border-collapse: collapse;
    }
    
    table:hover.DarkMatterUplineParvus {
        background-color: RGB(61, 71, 90);
    }
    
    td.DarkMatterUplineParvusLeft {
        width: 30%;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }
    
    td.DarkMatterUplineParvusRight {
        width: 70%;
        height: 60px;
        margin: 0;
        padding: 0;
    }
    
    img.DarkMatterUplineParvus {
        max-height: 50%;
        max-width: 50%;
    }
    
    a.DarkMatterUplineParvus {
        margin: 0;
        padding: 0;
        transition: 0.4s;
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    
    a:hover.DarkMatterUplineParvus {
        color: RGB(260, 163, 16);
    }
    
    /*Список глав.*/
    /*=========================================================================================================================*/
    
    details.DarkMatterBookContent {
        width: 100%;
        margin: 15px 0 0 0;
    }
    
    details.DarkMatterBookContent summary::-webkit-details-marker {
        font-size: 46px;
    }

    summary.DarkMatterBookContent {
        background-color: #252b37;
        cursor: pointer;
        outline: 0;
        color: white;
        padding: 5px 0 5px 15px;
        font-size: 24px;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        transition: 0.5s;
    }

    summary:hover.DarkMatterBookContent {
        background-color: #ff8c00;
    }

    div.DarkMatterBookChapter {
        width: 100%;
        background-color: RGB(48, 58, 76);
        vertical-align: middle;
        transition: 0.5s;
        border-bottom: 3px solid #252b37;
        border-right: 3px solid #252b37;
        border-left: 3px solid #252b37;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    div:hover.DarkMatterBookChapter {
        background-color: RGB(68, 78, 96);
    }

    p.DarkMatterBookChapter {
        font-size: 46px;
        color: white;
        margin: 5px 0 5px 42px;
        vertical-align: middle;
        display: inline-block;
        font-family: "Georgia" inherit;
        cursor: default;
        width: 90%;
        box-sizing:padding-box;
    }

    a.DarkMatterBookChapter {
        font-size: 40px;
        background: #75829b;
        color: white;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        user-select: none;
        outline: none;
        border-radius: 5px;
        transition: 0.2s;
        width: 100%;
        height: 100%;
        float: right;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 8px;
        transition: 0.5s;
    }
    
    table.DarkMatterBookChapter {
        width: 100%;
    }
    
    td.DarkMatterBookChapterLeft {
        width: 80%;
        box-sizing:padding-box;
    }
    
    td.DarkMatterBookChapterRight {
        width: 20%;
        
    }

    a.DarkMatterBookChapter:hover { 
        background: #ff8c00;
    }
    
    /*Описание книги.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterCover {
        float: left;
        width: 35%;
        height: 460px;
    }
    
    img.DarkMatterCover {
        width: 100%;
        height: 460px;
        border: 1px solid black;
        box-sizing: border-box;
        display: block;
    }
    
    div.DarkMatterDescription {
        float: left;
        width: 64%;
        margin-left: 1%;
    }

    h1.DarkMatterDescription {
        color: white;
        font-size: 30px;
        text-align: left;
        font-family: "Georgia";
        margin-bottom: 0;
        margin-top: 0;
        cursor: default;
    }

    img.DarkMatterDescription {
        height: auto;
        max-width: 30px;
        margin-left: 5px;
        vertical-align: middle;
        display: inline-block;
    }

    p.DarkMatterDescription {
        font-size: 26px;
        color: white;
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: default;
    }
    
    table.DarkMatterDescription{
        width: 100%;
        padding: 0;
    }
    
    td.DarkMatterDescriptionLeft {
        width: 5%;
        text-align: center;
        padding: 0;
    }
    
    td.DarkMatterDescriptionMiddle {
        margin: 0;
        padding: 0;
        text-align: left;
    }
    
    td.DarkMatterDescriptionRight {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    
    span.DarkMatterDescriptionRight {
        font-size: 26px;
        color: #7aad00;
        text-align: right;
        cursor: default;
    }
    
    
    
    
    div.DarkMatterBookTextBox {
        border: 3px solid white;
        border-radius: 15px;
        margin: 30px 0 30px 0;
        width: 100%;
        -moz-box-sizing: border-box; /* Для Firefox.*/
        -webkit-box-sizing: border-box; /* Для Safari и Chrome.*/
        box-sizing: border-box; /* Для IE и Opera.*/
    }
    
    div.DarkMatterBookTextBoxUpline {
        width: 100%;
    }

    img.DarkMatterBookTextBoxUpline {
        height: auto;
        width: 40px;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
    
    p.DarkMatterBookTextBox {
        text-indent: 7%;
    }

    p.DarkMatterBookTextBoxUpline {
        font-size: 40px;
        color: white;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Roboto" inherit;
        cursor: default;
    } 
    
    p.DarkMatterDescriptionLeft {
        font-size: 26px;
        color: #7aad00;
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 5px;
        float: right;
        margin-right: 5px;
        cursor: default;
    }

    div.DarkMatterDescriptionStr {
        width: 100%;
        vertical-align: top;
        display: inline-block;
    }

    hr.DarkMatterDescription {
        border: 0.5px solid RGBA(0, 0, 0, 0.2);
    }

    div.DarkMatterIntro {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    
    /*Читалка.*/
    /*=========================================================================================================================*/
    
    body.Reader {
        background-color: #323B4A;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        width: 100%;
        margin: 0;
    }

    table.ButtonReader {
        width: 100%;
    }
    
    /*Кнопки навигации.*/
    
    div.Main {
        padding-top: 20px;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
    }

    a.ButtonReader {
        display: inline-block;
        background: #252b37;
        color: black;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        transition: 0.2s;
        width: 100%;
    }

    a.ButtonReader:hover {
        background: #f0a310;
    }

    a.ButtonReader:active {
        background: white;
    }

    span.ButtonReaderMain {
        font-size: 40px;
        color: white;
        margin-left: 15px;
    }

    span.ButtonReaderNavigate {
        font-size: 40px;
        color: white;
        margin: 0;
    }

    img.ButtonReader {
        height: auto;
        max-width: 30px;
        margin-left: 0;
    }
    
    /*Контейнеры текста.*/
    
    div.Reader {
        margin: auto;
        width: 95%;
        text-align: justify;
        color: white;
        padding: 0;
        font-size: 24px;
        font-family: "Times New Roman";
        line-height: 300%;
        text-indent: 10%;
        word-break: break-word;
    }

    div.ReaderPoem {
        width: 95%;
        margin: auto;
        text-align: justify;
        text-indent: 0;
        color: white;
        font-size: 14px;
        font-family: "Georgia";
    }
    
    /*Размеры иллюстраций.*/
    
    img.Reader25 {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader50 {
        width: 75%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader75 {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    /*Жирные подзаголовки новеллы.*/

    h4.Reader {
        text-indent: 26px;
        text-align: justify;
        color: white;
        font-size: 20px;
        font-style: normal;
        font-family: "Times New Roman";
        margin: 0;
    }
    
    /*Информация о главе.*/
    
    h1.Main {
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: "Georgia";
        margin-bottom: 20px;
        margin-top: 0;
    }

    h2.Main {
        color: white;
        font-size: 30px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 10px;
        padding-left: 30px;
    }

    h3.Main {
        color: white;
        font-size: 36px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 30px;
    }

    hr.Main {
        border: 0.5px solid RGBA(0, 0, 0, 0.2);
    }
    
    
div.DarkMatterUpline {
    width: 100%;
    background-color: #252b37;
    height: 60px;
    margin-bottom: 40px;
}

div.DarkMatterUplineMini {
    width: 100%;
    margin: auto;
    vertical-align: middle;
    height: 100%;
}

img.DarkMatterUpline {
    height: 18px;
    width: auto;
    display: inline-block;
}

p.DarkMatterUpline {
    font-size: 26px;
    font-family: "Roboto" inherit;
    margin: 18px 0 18px 10px;
    display: inline-block;
}
    
a.DarkMatterUpline {
    height: 100%;
    width: 20%;
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    background-color: #252b37;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
}

a:hover.DarkMatterUpline {
    background-color: RGB(61, 71, 90);
    color: RGB(260, 163, 16);
}
    
div.DarkMatterBook {
    width: 95%;
    margin: auto;
    height: auto;
}
    
    
p.DarkMatterDownline {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 30px;
    overflow: hidden;
    cursor: default;
}
    
}

/*Для планшетов.*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
    /*=========================================================================================================================*/
    /*Главная страница.*/
    
    div.DarkMatterRelises {
        width: calc(100% - 2px);
        margin-top: 40px;
        margin: auto;
        background-color: var(--color-light-dark);
    }

    table.DarkMatterRelises {
        width: 100%;
        height: 64px;
        table-layout: fixed;
        box-sizing: border-box;
        border-left: 2px solid var(--color-dark);
        border-right: 2px solid var(--color-dark);
    }
    
    /*Страница ошибки.*/
    /*=========================================================================================================================*/
    
    
    
    /*Страница библиотеки.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterLibruary {
        width: 100%;
        margin: auto;
    }
    
    img.DarkMatterLibruaryBook {
        width: 100%;
        height: 300px;
        border: 1px solid black;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    /*Верхняя панель навигации.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterUpline {
        width: 100%;
        background-color: #252b37;
        height: 60px;
        margin-bottom: 40px;
    }
    
    table.DarkMatterUplineMagnus {
        width: 100%;
        margin: auto;
        height: 60px;
        border-collapse: collapse;
    }
    
    /*Список глав.*/
    /*=========================================================================================================================*/
    
    
    /*Описание книги.*/
    /*=========================================================================================================================*/
    
    div.DarkMatterBook {
        width: 95%;
        margin: auto;
        height: auto;
    }
    
    div.DarkMatterCover {
        float: left;
        width: 35%;
        height: 460px;
    }
    
    img.DarkMatterCover {
        width: 100%;
        height: 460px;
        border: 1px solid black;
        box-sizing: border-box;
        display: block;
    }
    
    div.DarkMatterDescription {
        float: left;
        width: 64%;
        margin-left: 1%;
    }
    
    /*Читалка.*/
    /*=========================================================================================================================*/
    
    body.Reader {
        background-color: #323B4A;
        -moz-user-select: none;
        /* Firefox*/
        -ms-user-select: none;
        /* Internet Explorer*/
        -khtml-user-select: none;
        /* KHTML browsers (e.g. Konqueror)*/
        -webkit-user-select: none;
        /* Chrome, Safari, and Opera*/
        -webkit-touch-callout: none;
        /* Disable Android and iOS callouts*/
        width: 100%;
        margin: 0;
    }

    table.ButtonReader {
        width: 100%;
    }
    
    /*Кнопки навигации.*/
    
    div.Main {
        padding-top: 20px;
        padding-bottom: 0;
        width: 100%;
        text-align: center;
    }

    a.ButtonReader {
        display: inline-block;
        background: #252b37;
        color: black;
        text-align: center;
        text-decoration: none;
        user-select: none;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        transition: 0.2s;
        width: 100%;
    }

    a.ButtonReader:hover {
        background: #f0a310;
    }

    a.ButtonReader:active {
        background: white;
    }

    span.ButtonReaderMain {
        font-size: 40px;
        color: white;
        margin-left: 15px;
    }

    span.ButtonReaderNavigate {
        font-size: 40px;
        color: white;
        margin: 0;
    }

    img.ButtonReader {
        height: auto;
        max-width: 30px;
        margin-left: 0;
    }
    
    /*Контейнеры текста.*/
    
    div.Reader {
        margin: auto;
        width: 95%;
        text-align: justify;
        color: white;
        padding: 0;
        font-size: 30px;
        font-family: "Georgia";
        line-height: 200%;
        text-indent: 10%;
        word-break: break-word;
    }

    div.ReaderPoem {
        width: 95%;
        margin: auto;
        text-align: justify;
        text-indent: 0;
        color: white;
        font-size: 14px;
        font-family: "Georgia";
    }
    
    /*Размеры иллюстраций.*/
    
    img.Reader25 {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader50 {
        width: 75%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.Reader75 {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    /*Жирные подзаголовки новеллы.*/

    h4.Reader {
        text-indent: 10%;
        text-align: justify;
        color: white;
        font-size: 34px;
        font-style: normal;
        font-family: "Times New Roman";
        margin: 0;
    }
    
    /*Информация о главе.*/
    
    h1.Main {
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: "Georgia";
        margin-bottom: 20px;
        margin-top: 0;
    }

    h2.Main {
        color: white;
        font-size: 30px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 10px;
        padding-left: 30px;
    }

    h3.Main {
        color: white;
        font-size: 36px;
        text-align: left;
        font-family: "Roboto" inherit;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 30px;
    }

    hr.Main {
        border: 0.5px solid RGBA(0, 0, 0, 0.2);
    }
    
}

/*Загрузка шрифтов.*/
/*=========================================================================================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "SlantCYRILLIC"; 
    src: url("https://dubostorage001.github.io/FILES.fol/SlantCYRILLIC.otf"); 
    font-style: normal; 
    font-weight: normal; 
} 