div.GalaxyMapContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    justify-content: center;
}

div.GalaxyTexture {
    max-width: 960px;
    position: relative;
    height: 100%;
}

img.GalaxyTexture {
    width: 100%;
    display: block;
    z-index: 1;
}

div.PlanetInfo {
    min-width: 150px;
    width: 30%;
    flex-grow: 1;
    padding: 10px;
    height: 100%;
}

h1.PlanetInfo {
    margin: 0 0 10px 0;
    padding: 0;
    color:white;
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
    overflow: hidden;
}

p.PlanetDescription {
    color: white;
    font-size: 18px;
    padding: 5px 0 5px 0;
    margin: 0;
    word-wrap: normal;
    text-align: justify;
}

span.PlanetDescription {
    font-weight: bold;
    color: rgb(167, 164, 164);
    text-shadow: 0px 0px 5px black;
}

div.Quadrantum {
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    z-index: 2;
}

div:hover.Quadrantum {
    background-color: rgb(103, 103, 238);
    opacity: 0.075;
}

div.Planet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0 1px white, 0 0 0 2px black;
    z-index: 2;
    margin: 2px;
    cursor: pointer;
    transition: 0.4s;
}

div:hover.Planet {
    box-shadow: 0 0 0 1px black, 0 0 0 2px white;
}

/*Планеты*/

#Earth {
    top: 70%;
    left: 25%;
    background-color: lightseagreen;
}

#Tangara {
    top: 77%;
    left: 31%;
    background-color: gray;
}